<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans

	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="loghandler" class="id.co.depedencyInjection.LogHandler" autowire="byName"></bean>
    <bean id="message" class="id.co.depedencyInjection.SMSMessage"></bean> <!-- message diambil dari member variable di kelas logHandler -->

</beans>
